.checkBody{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99aab5;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2vh;
}

.itemWrapper{
    background-image: linear-gradient(to bottom right, #ff3cac, #562b7c);
    border-radius: 15px;
    width: 90%;
    padding: 5px;
    margin: 5px 0;
}

.checkItem{
    border-radius: 15px;
    padding: 10px;
    background-color: #2c2f33;
}

.checkItem:hover{
    background-color: aliceblue;
}

.checkInfo{
    border: 1px solid blue;
    width: 90%;
    text-align: center;
    
}

.formTarea{
    border: 2px solid blue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}